Repository ocaml/opam, pull requests merged in 2023-02, with the labels that each got.

#5356 Fix case-preserving environment updates on Windows
  master_changes.md
  src/client/opamCommands.ml
  src/client/opamConfigCommand.ml
  src/core/opamStd.ml
  src/core/opamStd.mli
  src/core/opamSystem.ml
  src/format/opamTypes.mli
  src/format/opamTypesBase.ml
  src/state/opamEnv.ml
  src/state/opamSysInteract.ml
  tests/reftests/dune.inc
  tests/reftests/env.win32.test
Labels: KIND: BUG, STATE: READY TO MERGE

#5157 depext: improve check again routine
  master_changes.md
  src/client/opamSolution.ml
Labels: AREA: UI, AREA: DEPEXTS, STATE: READY TO MERGE

#5434 Update bootstrap to use FlexDLL 0.42 from ocaml/flexdll
  .github/scripts/main/ocaml-cache.sh
  .github/workflows/ci.ml
  .github/workflows/main.yml
  master_changes.md
  src_ext/Makefile
Labels: AREA: BUILD

#5402 Fix the reftests on OCaml 5.0
  master_changes.md
  shell/link_runtime.ml
  src/client/opamAdminRepoUpgrade.ml
  src/stubs/win32/build-putenv.ml
  tests/reftests/dot-install.test
  tests/reftests/opamroot-versions.test
Labels: AREA:TEST, STATE: READY TO MERGE

#5418 Enforce extra-source to have a checksum when using "opam switch export --freeze"
  master_changes.md
  src/client/opamSwitchCommand.ml
  tests/reftests/switch-import.test
Labels: STATE: READY TO MERGE, PR: WAITING FOR REVIEW

#5442 opam lint: Enforce synopsis being always present
  master_changes.md
  src/state/opamFileTools.ml
  tests/reftests/lint.test
  tests/reftests/source.test
  tests/reftests/upgrade-format.test
Labels: STATE: READY TO MERGE
