Repository ocaml/opam, pull requests merged in 2024-09, with the labels that each got.

#5858 Improve CONTRIBUTING.md by adding some guidance into the codebase for people who want to contribute to the code
  CONTRIBUTING.md
Labels: AREA: DOCUMENTATION, STATE: READY TO MERGE

#5619 Make opam config report and opam switch set-invariant return the actual invariant syntax expected by --invariant
  master_changes.md
  src/client/opamCommands.ml
  tests/reftests/cli-versioning.test
  tests/reftests/config.test
  tests/reftests/list-large-dependencies.test
  tests/reftests/switch-invariant.test
  tests/reftests/switch-list.test
Labels: AREA: UI

#5561 lint: add errors about duplicated extra-files and checksums & when extra-file paths contains '..'
  master_changes.md
  src/core/opamFilename.ml
  src/core/opamFilename.mli
  src/core/opamHash.mli
  src/state/opamFileTools.ml
  tests/reftests/archive.test
  tests/reftests/extrafile.test
  tests/reftests/extrasource.test
  tests/reftests/lint.test
  tests/reftests/show.test
Labels: STATE: READY TO MERGE

#6184 Test reftests and add some readme files
  master_changes.md
  tests/readme.md
  tests/reftests/dune.inc
  tests/reftests/readme.md
  tests/reftests/reftests.test
  tests/reftests/run.ml
Labels: AREA:TEST, STATE: READY TO MERGE

#5950 Fix the value of the 'arch' variable when the current OS is 32bit on a 64bit machine
  master_changes.md
  src/core/opamStd.ml
  src/core/opamStd.mli
  src/state/opamSysPoll.ml
Labels: AREA: PORTABILITY, AREA: ENGINE, STATE: READY TO MERGE

#6106 Fix most unhelpful conflict explanation message by merging all formulas together
  master_changes.md
  src/solver/opamCudf.ml
  src/solver/opamCudf.mli
  tests/reftests/conflict-4373.test
  tests/reftests/conflict-badversion.test
  tests/reftests/conflict-camlp4.test
  tests/reftests/conflict-core.test
  tests/reftests/deps-only.test
  tests/reftests/dune.inc
  tests/reftests/empty-conflicts-001.test
  tests/reftests/empty-conflicts-002.test
  tests/reftests/empty-conflicts-003.test
  tests/reftests/empty-conflicts-004.test
  tests/reftests/empty-conflicts-005.test
  tests/reftests/empty-conflicts-006.test
  tests/reftests/install-formula.test
  tests/reftests/install-pgocaml.test
  tests/reftests/list-large-dependencies.test
  tests/reftests/opamrt-reinstall.test
  tests/reftests/orphans.test
  tests/reftests/tree.test
  tests/reftests/unhelpful-conflicts-001.test
  tests/reftests/unhelpful-conflicts-002.test
Labels: AREA: SOLVER, IMPORTANT, STATE: READY TO MERGE

#6190 Env: Add install.exe to the shadow program list
  master_changes.md
  src/state/opamEnv.ml
Labels: AREA: PORTABILITY, STATE: READY TO MERGE

#6189 Fix Windows builds with OCaml >= 5.0
  configure
  configure.ac
  master_changes.md
  opam-core.opam
  src/core/dune
  src/core/opamStubs.ocaml4.ml
  src/core/opamStubs.ocaml5.ml
Labels: AREA: PORTABILITY, AREA: BUILD, STATE: READY TO MERGE

#6027 Improve the error message when a directory is not available while fetching using rsync
  master_changes.md
  src/repository/opamLocal.ml
  tests/reftests/repository.test
Labels: AREA: UI, STATE: READY TO MERGE

#5381 Fix opam unable to find executables on systems where users belong to more than 32 groups when opam is built using musl libc
  .gitignore
  Makefile
  configure
  configure.ac
  doc/index.html
  dune-project
  master_changes.md
  opam-client.opam
  opam-core.opam
  opam-devel.opam
  opam-format.opam
  opam-installer.opam
  opam-repository.opam
  opam-solver.opam
  opam-state.opam
  shell/build-putenv.ml
  src/core/c-flags.sexp.in
  src/core/dune
  src/core/opam-putenv.c
  src/core/opamACL.dummy.ml
  src/core/opamACL.libacl.ml
  src/core/opamACL.mli
  src/core/opamCommonStubs.c
  src/core/opamInject.c
  src/core/opamStd.ml
  src/core/opamStubs.ocaml4.ml
  src/core/opamStubs.unix.ml
  src/core/opamStubsTypes.ml
  src/core/opamWindows.c
  src/solver/dune
  src/stubs/dune
  src/stubs/libacl/c-libraries.sexp.in
  src/stubs/libacl/dune-libacl
  src/stubs/libacl/opamACL.c
  src/stubs/libacl/opamlibACL.ml
  src/stubs/win32/dune-win32
  src/stubs/win32/opamWin32Stubs.ml
Labels: KIND: BUG, PR: WAITING FOR REVIEW

#5665 Silently mark packages requiring an unsupported version of opam as unavailable
  master_changes.md
  src/format/opamFile.ml
  src/format/opamPp.ml
  src/format/opamPp.mli
  src/state/opamFileTools.ml
  tests/reftests/pin.test
  tests/reftests/repository.test
Labels: AREA: REPOSITORY

#6200 Remove the getgroups workaround allowing users belonging to more than 32 groups
  master_changes.md
  release/Dockerfile.in
Labels: AREA: RELEASE

#6201 Release 2.3.0~alpha1
  CHANGES
  configure
  configure.ac
  master_changes.md
  opam-client.opam
  opam-core.opam
  opam-devel.opam
  opam-format.opam
  opam-installer.opam
  opam-repository.opam
  opam-solver.opam
  opam-state.opam
Labels: AREA: RELEASE

#6203 Add 2.3.0~alpha1 to the install scripts
  master_changes.md
  shell/install.ps1
  shell/install.sh
Labels: AREA: RELEASE

#6205 [2.3 backport] Post 2.3.0~alpha1 release bumps and fixes
  configure
  configure.ac
  dune-project
  master_changes.md
  opam-client.opam
  opam-core.opam
  opam-devel.opam
  opam-format.opam
  opam-installer.opam
  opam-repository.opam
  opam-solver.opam
  opam-state.opam
  release/Dockerfile.in
  release/Makefile
  release/release.sh
Labels: AREA: RELEASE

#6204 Post 2.3.0~alpha1 release bumps and fixes
  configure
  configure.ac
  dune-project
  master_changes.md
  opam-client.opam
  opam-core.opam
  opam-devel.opam
  opam-format.opam
  opam-installer.opam
  opam-repository.opam
  opam-solver.opam
  opam-state.opam
  release/Dockerfile.in
  release/Makefile
  release/release.sh
Labels: AREA: RELEASE

#6208 Simplify the making of stripped binaries by introducing the 'make opam-stripped' target
  .github/scripts/main/main.sh
  Makefile
  master_changes.md
  release/Dockerfile.in
  release/Makefile
Labels: AREA: RELEASE
