Repository ocaml/opam, pull requests merged in 2024-04, with the labels that each got.

#5903 Mark the internal cygwin installation as recommended
  master_changes.md
  src/client/opamClient.ml
  src/client/opamCommands.ml
Labels: STATE: READY TO MERGE

#5905 Update badges to newer distro versions for Ubuntu and Fedora
  doc/pages/Install.md
  master_changes.md
Labels: AREA: DOCUMENTATION

#5840 Hijack the %{?val_if_true:val_if_false}% syntax to support extending the variables of packages with + in their name
  doc/pages/Manual.md
  master_changes.md
  src/format/opamFilter.ml
  src/format/opamFilter.mli
  src/format/opamTypesBase.ml
  src/format/opamTypesBase.mli
  src/state/opamFileTools.ml
  tests/reftests/dune.inc
  tests/reftests/lint.test
  tests/reftests/opam-pkgvar-with-plus.test
Labels: AREA: PORTABILITY, AREA: ENGINE, STATE: READY TO MERGE

#5893 Warn if GNU patch is not detected when using patch
  .github/workflows/ci.ml
  .github/workflows/main.yml
  master_changes.md
  src/client/opamInitDefaults.ml
  src/core/opamSystem.ml
  tests/reftests/repository.test
Labels: AREA: PORTABILITY, AREA: REPOSITORY

#5888 `opam source --dev` fetching git repositories without `--depth 1`
  master_changes.md
  src/client/opamCommands.ml
  src/repository/opamDarcs.ml
  src/repository/opamGit.ml
  src/repository/opamHTTP.ml
  src/repository/opamHg.ml
  src/repository/opamLocal.ml
  src/repository/opamRepository.ml
  src/repository/opamRepository.mli
  src/repository/opamRepositoryBackend.ml
  src/repository/opamRepositoryBackend.mli
  src/repository/opamVCS.ml
  src/repository/opamVCS.mli
  tests/reftests/repository.test
  tests/reftests/source.test
Labels: STATE: READY TO MERGE

#5832 Resolve the Cygwin bin directory above Windows system32 directory
  .gitattributes
  master_changes.md
  src/client/opamAction.ml
  src/client/opamConfigCommand.ml
  src/core/opamProcess.ml
  src/format/opamFile.ml
  src/format/opamFile.mli
  src/format/opamFormat.ml
  src/format/opamFormat.mli
  src/format/opamTypes.mli
  src/format/opamTypesBase.ml
  src/format/opamTypesBase.mli
  src/state/opamEnv.ml
  src/state/opamEnv.mli
  tests/dune
  tests/lib/dune
  tests/lib/patcher.expected
  tests/lib/patcher.ml
  tests/lib/typeGymnastics.ml
  tests/lib/typeGymnastics.mli
Labels: AREA: PORTABILITY, STATE: READY TO MERGE

#5917 Post 2.2.0~beta2 release bumps
  configure
  configure.ac
  master_changes.md
  opam-client.opam
  opam-core.opam
  opam-devel.opam
  opam-format.opam
  opam-installer.opam
  opam-repository.opam
  opam-solver.opam
  opam-state.opam
  opam.opam
  release/readme.md
Labels: STATE: READY TO MERGE
